{% extends 'base.html' %}  <!--look for template ('base.html') -->
{% block title %}Home{% endblock %}

{% block body %}
<section id="'banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Welcome to Grapevine </p>
        <p> Here you can view details on upcoming events happening in the UK. You can also view tickets information for these events and book your event at partner companies website. </p>
      </div>
    </div>
  </div>
</section>
<div class="container">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
  </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Adele live</h5>
        <p class="card-text">Text info on event can go here</p>
           <a href="tickets" class="btn btn-light">Get tickets</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/grapephoto.jpg" class="img-fluid rounded-start">
    </div>
  </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Text info on event can go here.</p>
           <a href="tickets" class="btn btn-light">Get tickets</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="">
    </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Text info on event can go here</p>
           <a href="tickets" class="btn btn-light">Get tickets</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
