{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="card mx-auto my-5 text-center" style="max-width: 800px;">
    <div class="card-body">
      <h1 class="display-3">Welcome to <span class="text-primary fw-bold">Grapevine</span>.</h1>
      <p class="lead">View details of upcoming events happening in the UK. You can also view ticketing information for these events and book your events at partner companies' websites.</p>
      <div id="carousel" class="carousel slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='images/concert.jpg') }}" class="d-block w-100" alt="Concert">
            <div class="carousel-caption">
              <h5>Concerts on Ticketmaster</h5>
              <p>Browse upcoming events</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='images/gallery.jpg') }}" class="d-block w-100" alt="Gallery">
            <div class="carousel-caption">
              <h5>Museums and Galleries on Art Fund</h5>
              <p>Browse upcoming exhibitions</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p class="lead card-text mt-3">Sign up to access event information, book tickets and record your experiences at events you attend.</p>
    </div>
  </div>
{% endblock %}