{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="card mx-auto my-5 text-center" style="max-width: 400px;">
    <div class="card-body">
      <form method="post">
        <h3 class="text-center mb-4">Login</h3>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p class="card-text mt-3">New to Grapevine? <a href="{{ url_for('auth.sign_up') }}" class="link-primary">Sign up instead</a></p>
    </div>
  </div>
{% endblock %}