{% extends "base.html" %}
{% block title %}Notes{% endblock %}
{% block content%}
<h1 class="text-center text-info"> Hello {{user.first_name.title()}}, let's see our users thoughts</h1>
<div class="card mx-auto my-5 text-center" style="max-width: 400px;">
  <div class="card-body">
    <ul class="list-group list-group-flush" id="notes">
      {% for note in notes %}
      <div class="mb-3"></div>
      <li class="list-group-item">
        <h4 class="text-primary">Title: {{ note.title }}</h4>
        <div class="mb-3"></div>
        <p class="text-secondary">By: {{ note.first_name}}</p>
        <div class="mb-3"></div>
        <p class="text-secondary">Message: {{ note.content }}</p>
        <div class="mb-3"></div>
        <p class="text-secondary">At: {{ note.date }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}