{% extends "base.html" %} {% block title %}Notes{% endblock %}
{% block content%}
<h1 align="center"> Hello {{user.first_name.title()}}, let's see our users thoughts</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in notes %}
  <li class="list-group-item">
    <h4>Title: {{ note.title }}</h4>
    <br>
    By: {{ note.first_name}}
    <br>
    <br>
    Message: {{ note.content }}
    <br>
    At: {{ note.date }}
    <br>
  </li>
  {% endfor %}
</ul>
<br>
<br>

<!--<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>-->
{% endblock %}