<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>List | Venues</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body class="h-100 bg-dark text-light d-flex flex-column justify-content-center align-items-center">
  <h1>Venues List</h1>
  <p class="lead">Which venue would you like to know more about?</p>
  <p>
    {% for venue in venues_list %}
      <a href="/{{ venue['name'] }}" role="button" class="btn btn-outline-info mx-1 text-capitalize">{{ venue['name'] }}</a>
    {% endfor %}
  </p>
</body>
</html>